$l-classic: "\e926";
$l-grand: "\e927";
$l-multigame: "\e928";
$l-prestige: "\e929";
$l-vip: "\e92a";
$l-stats: "\e901";
$l-rank: "\e902";
$l-user-group: "\e903";
$l-user: "\e904";
$l-circle-remove: "\e900";
$l-add: "\e905";
$l-close: "\e906";
$l-exclamation: "\e907";
$l-question: "\e908";
$l-globe: "\e909";
$l-fire: "\e90a";
$l-heart: "\e90b";
$l-moon: "\e90c";
$l-star: "\e90d";
$l-lights: "\e90e";
$l-arrow-right: "\e90f";
$l-arrow-left: "\e910";
$l-forward-arrow: "\e911";
$l-back-arrow: "\e912";
$l-exit: "\e913";
$l-file: "\e914";
$l-chat: "\e915";
$l-filter: "\e916";
$l-menu: "\e917";
$l-mute: "\e918";
$l-volume: "\e919";
$l-note: "\e91a";
$l-play: "\e91b";
$l-video-sd: "\e91c";
$l-video-hd: "\e91d";
$l-check: "\e91e";
$l-plus: "\e91f";
$l-cross: "\e920";
$l-settings: "\e921";
$l-fullscreen: "\e922";
$l-gift: "\e923";
$l-sort-box: "\e924";
$l-table: "\e925";
