@media (min-width: 768px) {
  %placeholder {
    scrollbar-color: rgba($base-color,.50) rgba($base-color-inverted,.15);
    scrollbar-width: thin;

    &::-webkit-scrollbar-track {
      // background-color: $base-color;
      box-shadow: inset 0 0 6px rgba($base-color-inverted,0.3);
      // @include box-shadow(inset 0 0 6px rgba($base-color-inverted,0.3));
      // @include box-shadow(inset 0 0 rem(6px) rgba($base-color-inverted,0.3));
    }

    &::-webkit-scrollbar {
      @include rem(width, 5px);
      // background-color: $base-color;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba($base-color,.50);
      border-radius: 4px;
      // @include border-radius(4px);
      // @include border-radius(rem(4px));
    }
  }
}

%relative {
  position: relative;
}

%road {
  @include position(absolute,0,0,0,0);

  li {
    float: left;
    @include position(relative);
    @include box(calc(100% / 2) !important, calc(100% / 2) !important);
    border: 0 !important;
  }
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%shine {
  &:before {
    content: "";
    @include position(absolute, -110%, -210%, $index: 3);
    @include box(200%);
    background-image: linear-gradient(to right, rgba($base-color-inverted, 0) 0%, rgba($base-color-inverted, 0) 77%, rgba($base-color-inverted, 0.5) 92%, rgba($base-color-inverted, 0.0) 100%);
    // @include background-image(linear-gradient(to right, rgba($base-color-inverted, 0) 0%, rgba($base-color-inverted, 0) 77%, rgba($base-color-inverted, 0.5) 92%, rgba($base-color-inverted, 0.0) 100%));
    transform: rotate(20deg);
    // @include transform(rotate(20deg));
    will-change: transform, opacity;
    opacity: 0;
    pointer-events: none;
  }

  &:hover:before {
    opacity: 1;
    top: -30%;
    left: -30%;
    transition: left .7s ease, top .7s ease, opacity .10s ease
    // @include transition(left .7s ease, top .7s ease, opacity .10s ease);
  }
}

%shine2 {
  &:before {
    content: "";
    @include position(absolute, -110%, -210%, $index: 2);
    @include box(200%);
    background-image: linear-gradient(to right, rgba($base-color-inverted, 0) 0%, rgba($base-color-inverted, 0) 77%, rgba($base-color-inverted, 0.5) 92%, rgba($base-color-inverted, 0.0) 100%);
    // @include background-image(linear-gradient(to right, rgba($base-color-inverted, 0) 0%, rgba($base-color-inverted, 0) 77%, rgba($base-color-inverted, 0.5) 92%, rgba($base-color-inverted, 0.0) 100%));
    transform: rotate(0);
    // @include transform(rotate(0));
    will-change: transform, opacity;
    opacity: 0;
    pointer-events: none;
  }

  &:hover:before {
    opacity: 1;
    top: -30%;
    left: -30%;
    transition: left .7s ease, top .7s ease, opacity .15s ease;
    // @include transition(left .7s ease, top .7s ease, opacity .15s ease);
  }
}

%border-frame {
  &:after,
  &:before {
    content: "";
    @include position(absolute, rem(-13px),  0);
    width: 100%;
    @include rem(height, 15px);
    background-color: lighten(#9b7236, 70%);
    border-radius: 100%;
    // @include border-radius(100%);
  }

  &:before {
    @include position($top: auto, $bottom: rem(-13px));
  }
}

%cursor {
  &:hover {
    cursor: url('https://static.oriental-game.com/image/pointer.png'), pointer !important;
  }
}